.contain {
  display: flex;
  padding-left: 5em;
}

h1 {
  text-align: center;
}
.list {
  float: left;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

footer {
  padding: 1em 0;
  color: grey;
  background-color: #282d32;
}

p {
  margin-left: 2em;
}
