

.root {
    width: 20%;
    display: flex;
   
}

.title{
    border: solid rgb(28, 207, 109) 3px;
    background-color: grey;
    padding: 0.50em;
    margin: 0.25em;
    font-weight: bold;
    cursor: pointer;
 }
