.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    min-width: 50%;
    min-height: 40%;

    border: rgb(206, 0, 0) outset 15px;
    outline: 8px black inset;
    outline-offset: -20px;
    box-shadow: 5px 10px 10px black;

    padding: 0 1em;
    margin: 2em;
  }
  
  h1 {
    text-align: center;
    font-family: helvetica;
    border-bottom: black solid 10px;
    width: 100%;
    padding: 0 .5em .5em .5em;
  }
  
  .movie-poster {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75%;
    min-width: calc(100%-10px)
  }
  
  img {
    height: 23em;
    margin: .5em 1em 1em 1em;
  }
  
  .movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: helvetica;
    font-size: 1em;
    margin-bottom: 1em

  }
  
  p {
    margin: 2px;
  }
  
  /* .noMovieSelected{
      border: black solid 2px;
      width: 250px;
      height: 400px;
      background-color: pink;
 
  } */