.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  
  border: rgb(206, 0, 0) solid 5px;
  border:rgb(206, 0, 0) inset 5px;
  width: 50%;
  height: 600px;
  outline: 10px black solid;
  outline-offset: -15px;
  box-shadow: 5px 10px 10px black;
  margin: 1em;
  min-width: fit-content;
  
}

h1 {
    text-align: center;
    font-family: helvetica;
    border-bottom: black solid 100%;
    border: black solid 2px;
    
    
    
    }

.movie-poster {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23em;
    width: calc(100%-10px);
    border: pink solid 2px;
}

img{
    height: 100%;
}
